body{
    background-image: url(images/back.jpg);
    max-width: 1200px;
    margin: auto;
    margin-top: 1rem;
}   
.container{
    border-radius:1rem;
    padding: 1rem 0rem 2rem 0rem;
    background: transparent;
}
h1{
    
    color:#66864b;
    font-weight: bolder;
    font-size: 60px;
    margin: auto;
    text-align: center;
}
.btn-Translate{
    font-size: 20px;
    background-color:  #0e0d0d;
    margin: auto;
    padding: 1rem 4rem;
    display: block;
    font-weight: bolder;
    background : #399658;
    border-radius: 1rem;
}